# Ignore .env file containing sensitive data
.env

# Ignore Volumes data
**/mariadb_data/*
**/influxdb_data/*
**/grafana_data/*

# Mac OS files
.DS_Store

# log files
*.log

# SSL certificates
certs/
*.pem

# idea files
.idea

# Ignore MariaDB backups
/mariadb_backup/backups/*
/mariadb_backup/restore/*