{
   email jkrumm@pm.me
}

server.free-planning-poker.com {
   reverse_proxy fpp-server:3003
}

analytics.free-planning-poker.com {
   reverse_proxy fpp-analytics:5100
}

email.jkrumm.dev {
   reverse_proxy bun-email-api:3010
}

photos.jkrumm.dev {
   root * /var/www/photos
   file_server
}

photos.jkrumm.com {
   root * /var/www/photos
   file_server
}