{
   email jkrumm@pm.me
}

server.free-planning-poker.com {
   reverse_proxy fpp-server:3003
}

analytics.free-planning-poker.com {
   reverse_proxy fpp-analytics:5100
}

email.jkrumm.dev {
   reverse_proxy bun-email-api:3010
}

snow-finder.jkrumm.dev {
   reverse_proxy snow-finder:8000
}

photos.jkrumm.dev {
   root * /var/www/photos
   file_server
}

analytics.jkrumm.dev {
   reverse_proxy plausible:8000
}